
<div style="margin: 5px 10% 80px 10%;background-color: white;">
    <div class="row" style="margin-left:40px; margin-top:10px; align-items: right;">
        <div class="col-8" style="margin-bottom:120px">
            <h1 style="margin-top: 40px; color: rgb(221, 217, 217);">FAQ</h1><br>
            <h5><b> 1. What is Fabstitch?</b></h5><br>
            <p>  
                Fabstitch provides online tailoring services at your door step. We help you to get your dress material stitched as per your fit and style. You can schedule a free pickup through fabstitch.in or from whatsapp. Our expert will visit your house to take your measurement and collect the dress material. We also offers services to choose from a wide range of dress materials and accessories for your outfit. It will take 7 working days to stitch, finish and deliver the order.
            </p>
            <h5><b>2. Why Fabstitch?</b></h5><br>
            <p>Still struggling with the tailoring experience!! Feeling lazy to visit a boutique!! Just go to fabstitch.in and select your free pickup and delivery times online and  leave the rest with us. If you have difficulty placing your order, just call us. We will help you place your order.</p>
            
            <h5><b>3. What are the stitching service you offers?</b></h5><br>
            <p>Currently, we are offering stitching services for  salwar suits, blouse, kurti, designer lahengas, designer salwar suits , kids frocks, men kurtas.</p>

            <h5><b>4. Do you send a tailor to my house to take my measurements?</b></h5><br>
            <p>Yes. We provide free measurement, pickup and delivery for you as per your convenient chosen time. Our professional tailor will come at your doorstep  on your scheduled pickup time to measure you and collect the dress material  so that we can stitch it as per your measurements.</p>

            <h5><b>5. How to select designs, neck patterns etc?</b></h5><br>
            <p>At the time of visiting customer’s doorstep for the measurement, tailor/designer will carry the design booklet for the customer to select the designs, also customers can upload the designs on our web page or customers can whats app us the design on 9902953403. Tailor/designer will advise the customer for the best design as well.</p>

            <h5><b>6. Whats are costings for these services?</b></h5><br>
            <p>The cost varies based on your stitching requirement. Please visit fabstitch.in online for pricing and more details.</p>

            <h5><b>7. Are there any pick-up and delivery charges?</b></h5><br>
            <p>No. We offer free measurement and pick-up & delivery services. Currently our service is available in Bangalore city and we will be coming to other cities soon.</p>

            <h5><b>8. Do you alter in case the stitched dress does not fit me well?</b></h5><br>
            <p>We have 100% satisfaction ratio. It is very unlikely to happen as we take the measurement from you before we start stitching the dress material through our expert tailors. However, if it happens, we will alter it as per your need free of cost.</p>

            <h5><b>9. Who are we ?</b></h5><br>
            <p>We have a team of young and dynamic professions which includes MBAs, Btech, Fashion designers and experienced tailors who will cater to the needs of the customers and provide best in class services.</p>
            <h2 style="text-align: center;color: #1abc9c;">Enjoy Happy tailoring with Us !  </h2>

        </div>
        <div class="col-4">
            <div class="vl"></div> 
            <app-recent ></app-recent>
        </div>
    </div> 
    <div>
        <div style="background-color:#1ABC9C;padding-bottom: 30px;margin-top: 150px;">
          <p style="margin-left: 50px; color: white;">Copyright 2015 - 2022 © fabstitch.in  <a href="/faq" style="padding-left: 400px;color: white;">FAQ</a> | <a href="/terms-of-services" style="color: white;" >Terms Of Services</a> | <a href="/privacy-policy" style="color: white;">Privacy Policy</a> | Call us @ +91-9902953403</p>
        </div>
      </div>   
</div>

