.page-title{
    text-align: center;
  
}
form textarea{
    resize:both;
    height:100px;
    padding-top: 10px;
    width:300px;
    margin: 10px 0;
    outline: none;
    font-size: 18px;
    background-color: #ffff;
    border: width 0.5em;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



h3{
    color: #1abc9c;
}
a{
    color: #1abc9c;
    
}
h6{
    color: grey;
}
:placeholder-shown{
    color: grey;
    font-size:0cm
}

form{
    background-color: #ffff;
    display:flex;
    flex-direction: column;
    padding: 2vw 5vw;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
}
form input {
    background-color: #ffff;
    outline: none;
    font-size: 18px;
    border: width 0  rgb(27, 6, 6);
  
}
input {
    background-color: #ffff;
    outline: none;
    font-size: 16px;
    border: width 0  #fff;
  
}

form button{
    padding: 5px;
    
    color:white;
    font-size: 18px;
    border-color:#1abc9c;
    cursor: pointer;
    width: 150px;
    margin: 20px  0;
}

