<body style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px;line-height: 1.428571429;  background-color: #fff;">
    <!-- <div class="parent">
        <div class="header">
            <div style="margin: 20px 10% 80px 10%;background-color: white;">
                <div class="row" style="margin: 10px 80px 50px 80px; background-color: rgb(254, 254, 254); " >
                    <div class="col-8">
           
            <h1 style="  text-align: center; border: 2px solid antiquewhite; padding: 10px; ">
            <h1 style="color:gray">ABOUT US</h1>
                <nav class="woocommerce-breadcrumb">
            <a href="http://www.fabstitch.in/" style="">HOME</a>
            &nbsp;/&nbsp;ABOUT US
           </nav>
    </h1> -->
    <h3 style="text-align: center; color:#1ABC9C;padding-top: 20px;padding-bottom: 10px;font-size: 32px; font-family: Montserrat, Arial, sans-serif;font-weight: 600;margin-top: 30px;">HOME <span style="color: grey;">/ABOUT US</span></h3>
    <!-- </div>
</div> -->
    <div style="background-color: #f2f4f1;" class="container">
    <!--Center content-->
    <h1 style="color: gray">WHO WE ARE.</h1>
    <p style="color: gray;">Fabstitch.in is young and vibrant company that aims at providing hassle free and enjoyable tailoring experience with all new designs and patterns with a team of talented designers. We provides amazing tailoring experience with one stop solution for all kind of stitching works. We offering free measurement, pick-up and delivery service with quality and on time delivery.</p>
    <h1 style="color:gray">VISION.</h1>
    <h4 style="color:#1ABC9C">Become externally bench-marked, best in class e-commerce organization</h4>
    <h4 style="color:#1ABC9C">Goals: Best Service, Value and Continuous Improvements</h4>
    <h4 style="color:#1ABC9C">Innovation: High Performance teams, Service excellence, Strategic Partnerships</h4>
    <h1 style="color:gray" >AREAS WE COVER.</h1>
    <p style="color:#333;">FabStitch offers an online tailoring experience with free pick-up and delivery in Bangalore. We provide stitching services with customisable designs for salwar suits, blouses, kurtas, bottoms, western wear and kids wear as per customers measurement at doorstep. Coming Soon for other cities also.</p>
    <h1 style="color:gray">THE TEAM.</h1>
    <p style="color:#333;">We have a team of young and dynamic professions which includes MBAs, Btech, Fashion designers and experienced tailors who will cater to the needs of the customers and provide best in class services.</p>
    <h1 style="color:gray">IN THE NEWS.</h1>
    <ul style="font-size: 16px;line-height: 22px;">
        <li><a href="https://bangaloremirror.indiatimes.com/bangalore/others/a-stitch-in-time/articleshow/48560969.cms?" style="color:#1ABC9C" target="_blank">https://bangaloremirror.indiatimes.com/bangalore/others/a-stitch-in-time/articleshow/48560969.cms?</a></li>
        <li><a href="https://www.yosuccess.com/interviews/shikha-sinha-fabstitch/" style="color:#1ABC9C" target="_blank">https://www.yosuccess.com/interviews/shikha-sinha-fabstitch/</a></li>
        <li><a href="https://yourstory.com/2015/09/fabstitch/amp" style="color:#1ABC9C" target="_blank">https://yourstory.com/2015/09/fabstitch/amp</a></li>
        <li><a href="https://sedo.com/search/details/?partnerid=324561&language=hi&domain=tropicalpost.com&origin=sales_lander_1&utm_medium=Parking&utm_campaign=offerpage" style="color:#1ABC9C" target="_blank">https://sedo.com/search/details/?partnerid=324561&language=hi&domain=tropicalpost.com&origin=sales_lander_1&utm_medium=Parking&utm_campaign=offerpage</a></li>
    </ul>
</div>
    <!--Footer-->
    <!-- <div class="footer">
        <div style="text-align:center class=p ; background-color: #1ABC9C; color:aliceblue; padding: 5px;">
            <p style="margin:center 50px;">Copyright 2015-2022 &copy; fabstitch.in</p>
        </div> -->
        <!-- <div style="text-align:center class=p ; background-color: #1ABC9C; color:aliceblue; padding: 5px;">
            
            <p style="margin:center 50px;">
                <nav>
                    <li> 
                    <a routerLink="FAQ" style="color:aliceblue">FAQ</a>
                </li>
                    
                    <li><a routerLink="termsofservices" style="color:aliceblue">Terms of Services</a></li>
                    
                   <li><a routerLink="privacypolicy" style="color:aliceblue">Privacy Policy</a></li>
                   
                </nav>   -->
               
                <!--<a class style="color:aliceblue;" routerLink="/FAQ">FAQ</a>-->
                
               <!--<a class style="color:aliceblue;" routerLink="termsofservices">Terms of Services</a>-->
               <!--- <a href="http://127.0.0.1:5500/src/app/termsofservices/termsofservices.component.html"  style="color:aliceblue">Terms of Services</a>-->
                
                <!--<a class style="color:aliceblue;" routerLink="privacypolicy">privacypolicy</a>-->
                <!--<a href="http://127.0.0.1:5500/src/app/privacypolicy/privacypolicy.component.html" style="color:aliceblue">Privacy Policy</a>-->
                <!-- Call us @+91-9902953403-->
            <!--p-->
        <!-- </div> -->
       
    <!-- </div>     -->
            <!--<p style="margin: left 50px;">Copyright 2015-2022 &copy; fabstitch.in</p>
            <a href="/FAQ" style="padding-left:400px;">FAQ</a>|<a href="http://127.0.0.1:5500/src/app/termsofservices/termsofservices.component.html" style="padding-left:400px;">Terms of Services</a>|<a href="http://127.0.0.1:5500/src/app/privacypolicy/privacypolicy.component.html" style="padding-left:400px;">Privacy Policy</a>| Call us @+91-9902953403
        </div>-->
       
  
        <div style="background-color: white;"><br><br><br><br>
            <div style="background-color: rgb(28, 174, 148);" class="row">
                <br><br><br>
                <div class="col-sm">
                    <p style="color:white;margin-left:70px;">Copyright 2015 - 2022 © fabstitch.in</p>
                </div>
                <div class="col-sm">
                    <ul>
                        <a href="faq" style=" color: rgb(255, 255, 255);" class="home">FAQ</a>
                        |
                        <a href="terms" style=" color: rgb(255, 255, 255);">Terms of Services </a>
                        |
                        <a href="privacy" style="color: rgb(255, 255, 255);">Privacy Policy </a>
                        | 
                        <a style="color: rgb(255, 255, 255);">Call us @ +91-9902953403</a>
                    
                    </ul> 
          
                </div>
            </div>
          </div>

</body>