           
 <div class="vl"></div> 
          
 <div class="widgets">
     <div id="recent-posts-2" class="widget widget_recent_entries">
         <br>
         <br><h5>Recent Posts</h5><hr>
         <ul>
             <li>
                 <a href="read"  style="font-size:18px">Our Exclusive Designs</a>
             </li></ul><hr>
             <ul><li>
                <a href="text"  style="font-size:14px">General Care and Maintenance
                     of   Fabrics</a>
             </li>
         </ul>
         <hr>
     </div>
     <div id="recent-comments-2" class="widget widget_recent_comments" >
        <br> <h5>Recent Comments</h5>
         <ul id="recentcomments" style="color:#bdc8d1 ;font-size:18px;">
             <li class="recentcomments"><span class="comment-author-link">Namrata</span> on <a
                     href="http://www.fabstitch.in/stitching-services/alteration/#comment-4258">Alteration Services</a>
             </li>
             <li class="recentcomments"><span class="comment-author-link">Sonu</span> on <a
                     href="http://www.fabstitch.in/stitching-services/alteration/#comment-3867">Alteration Services</a>
             </li>
             <li class="recentcomments"><span class="comment-author-link">Toshi Deepa</span> on <a
                     href="http://www.fabstitch.in/stitching-services/alteration/#comment-2173">Alteration Services</a>
             </li>
             <li class="recentcomments"><span class="comment-author-link">gautam</span> on <a
                     href="http://www.fabstitch.in/stitching-services/blouse-stitching/#comment-1986">Blouse
                     Stitching</a></li>
             <li class="recentcomments"><span class="comment-author-link">Reema</span> on <a
                     href="http://www.fabstitch.in/stitching-services/blouse-stitching/#comment-825">Blouse Stitching</a><hr>
             </li>
         </ul>
     </div>
     <div id="tag_cloud-2" class="widget widget_tag_cloud">
         <h5>Tag cloud</h5>
         <div class="tagcloud"><a href="find"
                 class="tag-cloud-link tag-link-55 tag-link-position-1" style="font-size: 8pt;"
                 aria-label="Anarkali (1 item)" >Anarkali</a>
                 
             <a href="find" class="tag-cloud-link tag-link-40 tag-link-position-2"
                 style="font-size: 8pt;" aria-label="Care (1 item)">Care</a>
             <a href="find" class="tag-cloud-link tag-link-44 tag-link-position-3"
                 style="font-size: 8pt;" aria-label="Clothes (1 item)">Clothes</a>
             <a href="find" class="tag-cloud-link tag-link-53 tag-link-position-4"
                 style="font-size: 8pt;" aria-label="Designer Wear (1 item)">Designer Wear</a>
             <a href="find" class="tag-cloud-link tag-link-50 tag-link-position-5"
                 style="font-size: 8pt;" aria-label="Designs (1 item)">Designs</a>
             <a href="find" class="tag-cloud-link tag-link-46 tag-link-position-6"
                 style="font-size: 8pt;" aria-label="Drying (1 item)">Drying</a>
             <a href="find" class="tag-cloud-link tag-link-52 tag-link-position-7"
                 style="font-size: 8pt;" aria-label="Exclusive (1 item)">Exclusive</a>
             <a href="find" class="tag-cloud-link tag-link-39 tag-link-position-8"
                 style="font-size: 8pt;" aria-label="Fabrics (1 item)">Fabrics</a>
             <a href="find" class="tag-cloud-link tag-link-45 tag-link-position-9"
                 style="font-size: 8pt;" aria-label="Ironing (1 item)">Ironing</a>
             <a href="find" class="tag-cloud-link tag-link-51 tag-link-position-10"
                 style="font-size: 8pt;" aria-label="Latest (1 item)">Latest</a>
             <a href="find" class="tag-cloud-link tag-link-41 tag-link-position-11"
                 style="font-size: 8pt;" aria-label="Laundering (1 item)">Laundering</a>
             <a href="find" class="tag-cloud-link tag-link-54 tag-link-position-12"
                 style="font-size: 8pt;" aria-label="Lehenga (1 item)">Lehenga</a>
             <a href="find" class="tag-cloud-link tag-link-43 tag-link-position-13"
                 style="font-size: 8pt;" aria-label="Washing (1 item)">Washing</a>
             <a href="find" class="tag-cloud-link tag-link-56 tag-link-position-14"
                 style="font-size: 8pt;" aria-label="Western (1 item)">Western</a>
             <a href="find" class="tag-cloud-link tag-link-57 tag-link-position-15"
                 style="font-size: 8pt;" aria-label="Western Wear (1 item)">Western Wear</a>
         </div>
     </div><br>
     <hr>
     <div id="text-2" class="widget widget_text">
         <div class="textwidget" style="margin-top:30px">
             <div><img src="http://www.fabstitch.in/wp-content/uploads/2015/01/logof.png" style="margin-top:-4%;width:200px"
                     class="customlogowidth" alt="FabStitch" title="FabStitch"></div>
             <br />
             <div>
                 <div class="header-tel">
                     <span style="font-size:18px;font-weight:bold;">Customer Support</span><br>
                     <span class="glyphicon glyphicon-earphone"></span><img src="https://cdn-icons-png.flaticon.com/512/597/597177.png" alt="" style="width: 15px;height:15px ;opacity: 40%;"> +91-9902953403
                 </div>
             </div>
             <hr>
             <div style="height: 20px;"><a href="http://www.fabstitch.in/terms-of-services/">Terms Of Services</a></div><br>
             
             <h5 style="color:#1abc9c;">Happy Tailoring !!</h5>
         </div>
     </div><br><br>
     <div id="text-3" class="widget widget_text">
         <h5>About</h5><hr>
         <div class="textwidget">
             <div style="text-align:justify;padding-right:50px;" >FabStitch offers an online tailoring experience with free pick-up and
                 delivery in Bangalore. We provide stitching services with customisable designs for salwar suits,
                 blouses, kurtas, bottoms, western wear and kids wear as per customers measurement at doorstep.</div>
         </div>
     </div>
 </div>
 