.container-fluid{
    background-color: white;
}
img{
    height:100px;
    width:150px;
    margin-top: -30px;
    padding-right: 60px;
}
h3{
    color:black;
    font-size: 14px;
}
.home:hover {
    opacity: 0.7;
    color: rgb(3, 1, 18);

}
body{
    background-color: rgb(234, 233, 233);
    background-attachment: fixed;
    background-size: cover;
  
}

.coupon:hover{
    opacity: 0.7;
    color: rgb(8, 193, 177);
}
.cross:hover{
    background-color: red;
    color: white;
}
.checkout{
    margin-left: 160px;
}