<div class="row"  style="float: left;margin-left: 30px; background-color: #f2f4f1; margin-bottom: 0px;margin-right: 30px;">
    <h3 style="text-align: center; color:#1ABC9C;padding-top: 20px;padding-bottom: 10px;font-size: 32px; font-family: Montserrat, Arial, sans-serif;font-weight: 600;margin-top: 30px;">HOME <span style="color: grey;">/SERVICES</span></h3>
    
<div class="contain">
    <!-- <div class="heading"><a routerLink="">Home</a>&nbsp; /&nbsp;Services</div> -->
  
    <div class="container" >
      <div class="row">
        <div class="col-3" *ngFor="let products of productsL">
          <!-- <app-products [products]="item"> </app-products> -->
          <div class="mt-3 mb-3">
            <div class="col">
              <div class="card">
                <img [src]="products.img" class="card-img-top" alt="product" />
                <div class="card-body"  >
                  <p style="text-align: center;color: grey;font-style: italic;margin-top: -10px;"> {{ products.pname}}</p>
                  <p class="price"  style="text-align: center;color: #1ABC9C;font-style: italic;margin-top: -10px;">{{ products.price1 }}</p>
                  <!-- {{products.pdesc}} <br> -->
                  <a style="color: white; text-align: center; margin-left: 50px;border-radius: 0%;font-style: italic;margin-top: -50px;"
                    class="btn btn-dark mt-2"
                    [routerLink]="['/viewProduct', products.id]"
                    >Select Options</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>

  <div style="background-color: white;"><br><br><br><br>
    <div style="background-color: rgb(28, 174, 148);" class="row">
        <br><br><br>
        <div class="col-sm">
            <p style="color:white;margin-left:70px;">Copyright 2015 - 2022 © fabstitch.in</p>
        </div>
        <div class="col-sm">
            <ul>
                <a href="faq" style=" color: rgb(255, 255, 255);" class="home">FAQ</a>
                |
                <a href="terms" style=" color: rgb(255, 255, 255);">Terms of Services </a>
                |
                <a href="privacy" style="color: rgb(255, 255, 255);">Privacy Policy </a>
                | 
                <a style="color: rgb(255, 255, 255);">Call us @ +91-9902953403</a>
            
            </ul> 
  
        </div>
    </div>
  </div>
  
</div>


